
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto&display=swap');
/* 
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
 */
html, body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
.headerText{
  font-family: 'Oswald', sans-serif;
  color: white;
  text-align: center;
}
#navLogo{
  height: 30%;
}
#navCon{
  background-image: url('./images/blackNavBG.jpg');
  background-size: cover;  
  text-align: center;
  /* height: 20%; */
  min-height: max-content;
}
#mainPic{
  width: 70%;
}